<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>

{{ $description := .Description | default .Site.Params.description }}
{{ with $description }}<meta name="description" content="{{ . }}" />{{ end }}
<link rel="canonical" href="{{ .Permalink }}" />

<meta property="og:title" content="{{ .Title }}" />
{{ with $description }}<meta property="og:description" content="{{ . }}" />{{ end }}
<meta
  property="og:type"
  content="{{ if and .IsPage (not .Date.IsZero) }}article{{ else }}website{{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Site.Params.ogImage }}
  <meta property="og:image" content="{{ . | absURL }}" />
{{ end }}

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
{{ with $description }}<meta name="twitter:description" content="{{ . }}" />{{ end }}
{{ with .Site.Params.twitterHandle }}
  <meta name="twitter:site" content="@{{ . }}" />
{{ end }}
{{ with .Site.Params.ogImage }}
  <meta name="twitter:image" content="{{ . | absURL }}" />
{{ end }}

{{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel
  .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

{{ $noop := .WordCount }}
{{ if .Page.Store.Get "hasMath" }}
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.css"
    integrity="sha384-vlBdW0r3AcZO/HboRPznQNowvexd3fY8qHOWkBi5q7KGgqJ+F48+DceybYmrVbmB"
    crossorigin="anonymous"
  />
{{ end }}

{{ if and .IsPage (not .Date.IsZero) }}
  {{ $author := dict "@type" "Person" "name" .Site.Params.author.name }}
  {{ $schema := dict
    "@context" "https://schema.org"
    "@type" "Article"
    "headline" .Title
    "url" .Permalink
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "author" $author
    "description" $description
  }}
  <script type="application/ld+json">
    {{ $schema | jsonify | safeJS }}
  </script>
{{ end }}

{{ partialCached "head/favicon.html" . }}
{{ partialCached "head/css.html" . }}
